python_vlc==3.0.12118
loguru==0.5.1
numpy==1.19.0
Flask==1.1.2
Flask_SocketIO==5.1.1
gevent_socketio==0.3.6

pytube~=11.0.1
wget~=3.2
PyAudio~=0.2.11
requests~=2.25.1
numba~=0.54.1
pydub~=0.25.1
moviepy~=1.0.3