<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
            integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
            integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>

    <link href='https://cdn.jsdelivr.net/npm/css.gg/icons/all.css' rel='stylesheet'>
    <title>Hello, world!</title>

    <style>
        body {
            background: url('templates/87696292_p0.png') no-repeat center fixed;
            background-size: cover;
        }

        .mainBody {
            background-color: rgba(255, 255, 255, 0.4);
            height: 100VH;
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<div class="mainBody" id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Index</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list">List</a>
                    </li>
                </ul>
                <form class="d-flex">
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-md-center" style="margin-top: 20px">
            <div class="col col-lg-4">
                Device
                <div class="input-group mb-3">
                    <span class="input-group-text">Benchmark Device</span>
                    <select v-model="benchmark_device" @change="onBenchmarkDeviceChanged()"
                            class="form-select form-control" aria-label="list">
                        <option v-for="device in devices" :value="device.uuid">{{device.name}}</option>
                    </select>
                </div>

                <div class="list-group">
                    <a href="#"
                       class="list-group-item list-group-item-action d-flex gap-3 py-3"
                       aria-current="true"
                       v-for="device in devices"
                       @click="device.enabled = !device.enabled;onDevicesChange(device.uuid)"
                       :class="device.css">
                        <input class="form-check-input flex-shrink-0" type="checkbox"
                               @change="onDevicesChange(device.uuid)"
                               v-model="device.enabled" checked>
                        <i :class="device.icon"></i>
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">{{device.name}}</h6>
                                <p class="mb-0 opacity-75">System: {{device.system}}</p>
                                <p class="mb-0 opacity-75">Python: {{device.pythonVersion}}</p>
                                <p class="mb-0 opacity-75">Time Difference: {{(device.difference * 1000).toFixed(1)}}
                                    ms </p>
                                <p class="mb-0 opacity-75">Delay: {{(device.delay * 1000).toFixed(1)}} ms </p>
                            </div>
                            <small class="opacity-50 text-nowrap">{{new Date(device.updateTime *
                                1000).toLocaleTimeString()}}</small>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col col-lg-8">
                Music
                <!--                <input type="range" class="form-range" id="customRange1">-->
                <div class="input-group mb-3">
                    <span class="input-group-text">Play List</span>
                    <select v-model="list_active" class="form-select form-control" aria-label="list"
                            @change="onPlayListChanged">
                        <option v-for="playlist in playlists" :value="playlist">{{playlist}}</option>
                    </select>
                </div>
                <div class="row align-items-center align-self-center">
                    <div class="col col-lg-1">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn" type="button" @click="onPlayButtonClick"
                                    data-bs-toggle="tooltip" data-bs-placement="left"
                                    :title="playStatusText" :data-original-title="playStatusText">
                                <i :class="playStatusClass"></i>
                            </button>
                            <button class="btn" type="button" @click="onRedressButtonClick"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="同步">
                                <i class="bi bi-arrow-repeat"></i>
                            </button>
                            <button class="btn" type="button" @click="onPlayModeChanged($event.target)"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    :title="playModeText">
                                <i :class="playModeClass"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col col-lg-10"></div>
                    <div class="col col-lg-1">

                    </div>
                </div>

                <input type="range" class="form-range" :value="playback_progress" min="0" :max="rangeMax"
                       @input="onRangeValueChanged($event.target)"
                       @mouseup="onRangeMouseUp" @mousedown="onRangeMouseDown">
                <div class="list-group" id="list_music_groups" :style="listMusicGroupsStyle">
                    <div class="progress" v-if="listLoading">
                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                             role="progressbar" :style="'width: '+ loading_progress +'%;'"
                             :aria-valuenow="loading_progress"
                             aria-valuemin="0" aria-valuemax="100">加载歌单中... {{ loading_progress }}%
                        </div>
                    </div>
                    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3"
                       aria-current="true"
                       v-for="music in musics" @click="changeMusic(music.id,music.playing)" :id="'music_' + music.id">
                        <!--:class="musicBackground(music.playing)"-->
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <img :src="music.img" style="width:75px" class="img-thumbnail" alt="...">
                            <div>
                                <h6 class="mb-0">{{music.name}}</h6>
                                <p class="mb-0 opacity-75">发布者: {{music.singer}}</p>
                            </div>
                            <small class="opacity-50 text-nowrap">{{secondsToTimeString(music.timeLong)}}</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->


</body>
<script>


    var socket = io(); //192.248.168.119 'ws://127.0.0.1:5000'
    const Counter = {
        data() {
            return {
                message: 'Hello, world!',
                benchmark_device: "",
                devices: [],
                musics: [],
                socket: socket,
                uploadMode: false,
                playStatus: false,
                playStatusText: "播放",
                playStatusClass: "bi bi-play-fill",
                list_active: "list1",
                playlists: [
                    "list1"
                ],
                playback_progress: 0,
                rangeMax: 1000,
                playMode: "list_loop",
                playModeText: "列表循环",
                playModeClass: "gg-repeat",
                listLoading: false,
                loading_progress: 0,
                listMusicGroupsStyle: {}
            }
        },
        methods: {
            changeListMusicGroupsStyle() {
                let target = document.getElementById("list_music_groups");
                if (target != null) {
                    this.listMusicGroupsStyle = "max-height:" +
                        (window.innerHeight - target.getBoundingClientRect().top - 100) + "px;" +
                        " overflow-y: auto;"
                }
            },
            onDevicesChange(uuid) {
                this.uploadMode = false;
                let chosen = []
                this.devices.forEach(element => {
                    chosen.push({uuid: element.uuid, enabled: element.enabled})
                })
                this.socket.emit("web", {Type: "ChangeInformation", data: chosen})
                this.uploadMode = true;
            },
            changeMusic(id, isPlaying) {
                if (!isPlaying)
                    this.socket.emit("web", {Type: "Play", id: id})
                else
                    this.socket.emit("web", {Type: "Play"})
            },
            musicBackground(condition) {
                if (condition)
                    return "bg-success bg-opacity-25"
            },
            onBenchmarkDeviceChanged() {
                this.uploadMode = false;
                this.socket.emit("web", {Type: "BenchmarkDevice", uuid: this.benchmark_device})
                this.devices.forEach(element => {
                    element.css = ""
                    if (element.uuid == this.benchmark_device)
                        element.css = "bg-success bg-opacity-25"
                })
                this.uploadMode = true;
            },
            onPlayButtonClick() {
                this.socket.emit("web", {Type: "Play"})
            },
            onRedressButtonClick() {
                this.socket.emit("web", {Type: "Redress"})
            },
            onRangeValueChanged(event) {
                this.playback_progress = event.value;
                this.musics.forEach(element => {
                    if (element.playing) {
                        this.draw_playback_progress({
                            "id": element.id,
                            "percentage": this.playback_progress / this.rangeMax
                        })
                        element.timeLong = (this.playback_progress / this.rangeMax) * element.maxTimeLong
                    }
                })
            },
            onRangeMouseUp(event) {
                this.socket.emit("web", {Type: "SetPosition", progress: this.playback_progress / this.rangeMax})
                this.uploadMode = false;
            },
            onRangeMouseDown(event) {
                this.uploadMode = true;
            },
            onPlayModeChanged(target) {
                let lastText = this.playModeText
                if (this.playMode == "list_loop") {
                    this.playMode = "random"
                    this.playModeText = "随机播放"
                    this.playModeClass = "bi bi-shuffle"
                    this.socket.emit("web", {Type: "SetPlayMode", mode: "random"})
                } else if (this.playMode == "random") {
                    this.playMode = "single"
                    this.playModeText = "单曲循环"
                    this.playModeClass = "gg-undo"
                    this.socket.emit("web", {Type: "SetPlayMode", mode: "single"})
                } else if (this.playMode == "single") {
                    this.playMode = "list"
                    this.playModeText = "顺序播放"
                    this.playModeClass = "gg-play-list"
                    this.socket.emit("web", {Type: "SetPlayMode", mode: "list"})
                } else if (this.playMode == "list") {
                    this.playMode = "list_loop"
                    this.playModeText = "列表循环"
                    this.playModeClass = "gg-repeat"
                    this.socket.emit("web", {Type: "SetPlayMode", mode: "list_loop"})
                }
                this.updateTooltip()
                let id = target.getAttribute("aria-describedby")
                if (id != null) {
                    $("#" + id).children("div.tooltip-inner").html(this.playModeText)
                } else {
                    $("div.tooltip.fade.bs-tooltip-top.show").children("div.tooltip-inner").html(this.playModeText)
                }
            },
            onPlayListChanged() {
                this.socket.emit("web", {Type: "ChangePlayList", playlist: this.list_active})
            },
            serverMsg(data) {
                //console.log(data)
                if (data.Type == "InformationUpdate") {
                    if (data.devices != null) {
                        this.devices = data.devices
                        let hasBenchmark = false
                        this.devices.forEach(element => {
                            if (element.benchmark_device) {
                                this.benchmark_device = element.uuid
                                element.css = "bg-success bg-opacity-25"
                                hasBenchmark = true
                            }
                        })
                        if (!hasBenchmark)
                            this.benchmark_device = ""
                    }
                    if (data.musics != null) {
                        if (this.musics.length != data.musics.length) {
                            this.musics = data.musics
                            this.changeListMusicGroupsStyle();
                        }
                        this.musics = data.musics
                    }
                    if (data.progress != null) {
                        this.draw_playback_progress(data.progress)
                        let currents = this.musics.filter(musics => musics.playing)
                        this.playback_progress = currents.length > 0 ? this.rangeMax * data.progress.percentage : 0
                    }
                    if (data.playlists != null)
                        this.playlists = data.playlists
                    if (data.list_active != null)
                        this.list_active = data.list_active
                    if (data.play_status != null)
                        if (data.play_status == "play") {
                            this.playStatusText = "暂停"
                            if (!this.playStatus) {
                                this.updateTooltip()
                            }
                            this.playStatus = true;
                            this.playStatusClass = "bi bi-pause"
                        } else {
                            this.playStatusText = "播放"
                            if (this.playStatus) {
                                this.updateTooltip()
                            }
                            this.playStatus = false;
                            this.playStatusClass = "bi bi-play-fill"
                        }
                    if (data.play_mode != null) {
                        this.playMode = data.play_mode
                        if (this.playMode == "list") {
                            this.playModeText = "顺序播放"
                            this.playModeClass = "gg-play-list"
                        } else if (this.playMode == "list_loop") {
                            this.playModeText = "列表循环"
                            this.playModeClass = "gg-repeat"
                        } else if (this.playMode == "random") {
                            this.playModeText = "随机播放"
                            this.playModeClass = "bi bi-shuffle"
                        } else if (this.playMode == "single") {
                            this.playModeText = "单曲循环"
                            this.playModeClass = "gg-undo"
                        }
                    }
                    if (data.loading != null)
                        this.listLoading = data.loading
                    if (data.loading_progress != null)
                        this.loading_progress = data.loading_progress
                }
            },
            draw_playback_progress(data) {
                let music_id = data["id"]
                let percentage = data["percentage"]
                this.musics.forEach(element => {
                    if (element.id == music_id) {
                        this.drawBackground(
                            document.getElementById("music_" + music_id),
                            "#1987543A",
                            percentage
                        )
                    } else {
                        $(document.getElementById("music_" + element.id)).css("background-image", "")
                    }
                });
            },
            drawBackground(element, color, percentage) {
                width = element.offsetWidth
                height = element.offsetHeight
                let canvas = document.createElement("canvas")
                canvas.width = width
                canvas.height = height
                var ctx = canvas.getContext('2d');
                ctx.fillStyle = color; // 198754
                ctx.fillRect(0, 0, width * percentage, height);
                $(element).css("background-image", "url('" + canvas.toDataURL("image/png") + "')");
            },
            secondsToTimeString(timestamp) {
                let minutes = Math.floor(timestamp / 60)
                let seconds = Math.round(timestamp % 60)
                if (seconds < 10)
                    seconds = "0" + seconds
                return minutes + ":" + seconds
            },
            updateTooltip() {
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            },

        },
        created() {
            this.socket.emit("web", {})
            var core = this
            setInterval(function () {
                if (!core.uploadMode)
                    this.socket.emit("web", {Type: "RequestInformationUpdate"})
            }, 500);
            this.socket.on('web', this.serverMsg);
        },
        mounted() {
            this.updateTooltip();
            this.changeListMusicGroupsStyle();
            var core = this
            window.onresize = function () {
                core.changeListMusicGroupsStyle();
            }
            window.vueApp = this;
            // () => {
            //     return (() => {
            //         window.clientWidth = document.body.clientWidth;
            //         this.clientWidth = window.clientWidth;
            //     })()
            // };
        },
        watch: {
            clientWidth(newVal, oldVal) {
                console.log(newVal);//浏览器窗口变化时，打印宽度。
            }
        }
    }

    Vue.createApp(Counter).mount('#app')
</script>
</html>